.forgot-wrapper {
  height: 100vh;
  background-color: #ffffff;
}

.forgot-box {
  
  background-image: linear-gradient(to bottom, #dff8f6, #ffffff);
  width: 100%;
  max-width: 380px;
  border-radius: 16px;
}

.logo {
  max-width: 180px;
}
