.login-wrapper {
  height: 100vh;
  background-color: #f8f9fa;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background-image: var(--bg-color);
}

.logo-small {
  width: 200px;
  height: auto;
  object-fit: contain;
}
::placeholder {
  color: #ccc !important;
  opacity: 1;
}