.login-wrapper {
  height: 100vh;
  background-color: #f8f9fa;
}

.login-box {
  width: 100%;
  max-width: 420px;
  background-image:var(--bg-color);
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo-small {
  width: 250px;
  height: auto;
  object-fit: contain;
}

.input-dark {
  background-color: #3b4044;
  border-radius: 8px;
  border: 1px solid #6c757d;
}


.input-dark:focus {
  background-color: #343a40;
  color: white;
  border: 1px solid #495057;
  box-shadow: none;
}

::placeholder {
  color: #ccc !important;
  opacity: 1;
}
.toast {
  animation: slideInRight 0.4s ease;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
